@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --White: hsl(0, 0%, 100%);
    --Lightgray: hsl(212, 45%, 89%);
    --Grayishblue: hsl(220, 15%, 55%);
    --Darkblue: hsl(218, 44%, 22%);
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    text-align: center;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--Lightgray);
}

.card {
    width: 375px;
    padding: 1.25em;
    background-color: var(--White);
    box-shadow: 0px 3px 35px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
}

img {
    max-width: 100%;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

h1 {
    font-weight: 700;
    font-size: 1.4rem;
    color: var(--Darkblue);
    margin-bottom: 1rem;
}

p {
    margin: .75rem;
    font-weight: 400;
    font-size: 15px;
    color: var(--Grayishblue);
}

h1,
p {
    padding: 0 1.5rem;
}

/* Attribution */
.attribution {
    font-size: 12px;
    padding: 1.5em;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}